$backgroundColor: #a79898;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: $backgroundColor;
  height: 100%;

  header {
    background: darken($backgroundColor, 75);
    border-bottom: 1px solid rgb(145, 137, 137);
    color: #eee;
    padding: 0;
    margin: 0;
    text-align: center;
  }
}